
        header{
        background-color: #900900;
        color: #F4F0BE;
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
        padding: 16px;
        border: 5px solid rgb(104, 0, 0);
        }
        img{
            width:500px;
            height:400px
        }
        .artigo-autor{
         font-weight: bold;
        }
        main {
            background-color: rgb(253, 253, 253);
            color: rgb(17, 17, 17);
            max-width: 800px;
            margin: 0 auto;
            padding: 16px;
        }